/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* Tailwind */
@import "tailwindcss";

/* Global Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root */

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

/* Body */

body {
  font-family: "Inter", sans-serif;
  background: #f8fafc;
  color: #0f172a;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Images */

img {
  max-width: 100%;
  display: block;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */

button {
  font-family: inherit;
  cursor: pointer;
}

/* Inputs */

input,
textarea,
select {
  font-family: inherit;
  outline: none;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* DEBUG ONLY */

* {
  outline: 1px solid red;
}